/* body {
  min-height: 3000px;
} */
.navbar-brand {
  font-family: viga;
  font-size: 30px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
